In [1]:
import numpy as np
import pandas as pd

patient_data = pd.read_csv("data/Health_Data.csv")
patient_data.head()

,Patient_id,Age,Admission_type,PreExistingDisease,PreviousSurgery,Gender,Smoker,Homeless,DaysinHospital,Readmitted
0,1,33,Urgent,Y,0,M,1,0,1,0
1,2,34,Emergency,N,0,M,1,0,22,0
2,3,88,Trauma,Y,1,M,1,1,100,1
3,4,56,Elective,Y,0,M,1,0,2,0
4,5,45,Trauma,Y,0,M,1,0,34,0

In [4]:
patient_data.describe()

,Patient_id,Age,PreviousSurgery,Smoker,Homeless,DaysinHospital,Readmitted
count,357.00000,357.000000,357.000000,357.000000,357.000000,357.000000,357.000000
mean,179.00000,42.574230,0.341737,0.596639,0.378151,43.182073,0.193277
std,103.20126,29.274624,0.474957,0.491261,0.485606,47.362609,0.395423
min,1.00000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,90.00000,14.000000,0.000000,0.000000,0.000000,12.000000,0.000000
50%,179.00000,35.000000,0.000000,1.000000,0.000000,32.000000,0.000000
75%,268.00000,67.000000,1.000000,1.000000,1.000000,55.000000,0.000000
max,357.00000,96.000000,1.000000,1.000000,1.000000,352.000000,1.000000

In [5]:
patient_data.describe(include=['object'])

       Admission_type PreExistingDisease Gender
count             357                357    357
unique              5                  2      2
top            Urgent                  N      F
freq              131                228    186

In [7]:
X = patient_data.iloc[:,1:9]
y = patient_data.iloc[:,9]

In [8]:
X.head()

,Age,Admission_type,PreExistingDisease,PreviousSurgery,Gender,Smoker,Homeless,DaysinHospital
0,33,Urgent,Y,0,M,1,0,1
1,34,Emergency,N,0,M,1,0,22
2,88,Trauma,Y,1,M,1,1,100
3,56,Elective,Y,0,M,1,0,2
4,45,Trauma,Y,0,M,1,0,34

In [9]:
y.head()

0    0
1    0
2    1
3    0
4    0
Name: Readmitted, dtype: int64

In [10]:
## 신규 입원 유형
A_type = pd.get_dummies(X.iloc[:,1], drop_first=True, prefix='Atype')
## 신규 성별
New_gender = pd.get_dummies(X.iloc[:,4], drop_first=True, prefix='Gender')
## 신규 기존 질병
Pre_exdis = pd.get_dummies(X.iloc[:,2], drop_first=True, prefix='PreExistDis')

In [11]:
A_type.head()

   Atype_Emergency  Atype_Newborn  Atype_Trauma  Atype_Urgent
0                0              0             0             1
1                1              0             0             0
2                0              0             1             0
3                0              0             0             0
4                0              0             1             0

In [12]:
New_gender.head()

   Gender_M
0         1
1         1
2         1
3         1
4         1

In [13]:
Pre_exdis.head()

   PreExistDis_Y
0              1
1              0
2              1
3              1
4              1

In [14]:
## 원래 있던 범주형 행 제거
X.drop(['Admission_type','PreExistingDisease','Gender'], axis=1, inplace=True)
## X 데이터프레임에 신규 변환된 데이터를 붙인다
X = pd.concat([X, A_type, New_gender, Pre_exdis], axis=1)

In [15]:
X.head()

,Age,PreviousSurgery,Smoker,Homeless,DaysinHospital,Atype_Emergency,Atype_Newborn,Atype_Trauma,Atype_Urgent,Gender_M,PreExistDis_Y
0,33,0,1,0,1,0,0,0,1,1,1
1,34,0,1,0,22,1,0,0,0,1,0
2,88,1,1,1,100,0,0,1,0,1,1
3,56,0,1,0,2,0,0,0,0,1,1
4,45,0,1,0,34,0,0,1,0,1,1

In [16]:
from sklearn.model_selection import train_test_split

xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size=0.3, random_state=110)

In [18]:
## StandardScaler 초기화
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
# 학습 데이터 변환
xtrain = sc.fit_transform(xtrain)
xtrain = pd.DataFrame(xtrain, columns=xtest.columns)
# 테스트 데이터 변환
xtest = sc.transform(xtest)
xtest = pd.DataFrame(xtest, columns=xtrain.columns)

In [19]:
xtrain.head()

,Age,PreviousSurgery,Smoker,Homeless,DaysinHospital,Atype_Emergency,Atype_Newborn,Atype_Trauma,Atype_Urgent,Gender_M,PreExistDis_Y
0,1.415411,1.340803,0.792118,1.210515,1.883715,-0.363068,-0.303488,1.835326,-0.739313,-0.911527,1.306339
1,1.583479,1.340803,0.792118,1.210515,1.069799,-0.363068,-0.303488,1.835326,-0.739313,-0.911527,1.306339
2,0.675914,-0.745822,0.792118,1.210515,-0.453684,-0.363068,-0.303488,-0.544862,1.352607,1.097060,-0.765498
3,0.306166,-0.745822,-1.262438,-0.826095,-0.244988,2.754307,-0.303488,-0.544862,-0.739313,-0.911527,-0.765498
4,-1.071987,-0.745822,0.792118,-0.826095,-0.912816,-0.363068,-0.303488,-0.544862,-0.739313,1.097060,-0.765498

In [20]:
# 데이터 프레임을 넘파이 배열로 전환
x_train = xtrain.values
x_test = xtest.values
y_train = ytrain.values
y_test = ytest.values

In [22]:
x_train

array([[ 1.41541111,  1.34080305,  0.79211803, ..., -0.73931309,
        -0.91152748,  1.30633906],
       [ 1.58347853,  1.34080305,  0.79211803, ..., -0.73931309,
        -0.91152748,  1.30633906],
       [ 0.67591449, -0.74582169,  0.79211803, ...,  1.35260691,
         1.09705963, -0.76549805],
       ...,
       [-1.00475965,  1.34080305,  0.79211803, ..., -0.73931309,
        -0.91152748, -0.76549805],
       [-0.29887651, -0.74582169, -1.26243812, ...,  1.35260691,
        -0.91152748,  1.30633906],
       [ 0.70952797, -0.74582169,  0.79211803, ...,  1.35260691,
        -0.91152748, -0.76549805]])

In [23]:
## 필요한 케라스 라이브러리 임포트
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout

Using TensorFlow backend.

In [24]:
model = Sequential()
# 첫번째 밀집 레이어와 드롭아웃 레이어 추가
model.add(Dense(units=6, activation='relu', kernel_initializer='uniform', input_dim=11))
model.add(Dropout(rate=0.3))
# 두번째 밀집 레이어와 드롭아웃 레이어 추가
model.add(Dense(units=6, activation='relu', kernel_initializer='uniform'))
model.add(Dropout(rate=0.3))
# 결과 밀집 레이어 추가
model.add(Dense(units=1, activation='sigmoid', kernel_initializer='uniform'))
# 모델 컴파일
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
# 모델 피팅
model.fit(x_train, y_train, epochs=100, batch_size=20)

WARNING:tensorflow:From /home/ziippy/venv/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /home/ziippy/venv/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/ziippy/venv/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/ziippy/venv/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:148: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

WARNING:tensorflow:From /home/ziippy/venv/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:3733: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
WARNING:tensorflow:From /home/ziippy/venv/lib/python3.6/site-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /home/ziippy/venv/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:3657: The name tf.log is deprecated. Please use tf.math.log instead.

WARNING:tensorflow:From /home/ziippy/venv/lib/python3.6/site-packages/tensorflow_core/python/ops/nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /home/ziippy/venv/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /home/ziippy/venv/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /home/ziippy/venv/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:3005: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Epoch 1/100
WARNING:tensorflow:From /home/ziippy/venv/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /home/ziippy/venv/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /home/ziippy/venv/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /home/ziippy/venv/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /home/ziippy/venv/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

249/249 [==============================] - 1s 3ms/step - loss: 0.6916 - acc: 0.7430
Epoch 2/100
249/249 [==============================] - 0s 86us/step - loss: 0.6877 - acc: 0.7912
Epoch 3/100
249/249 [==============================] - 0s 84us/step - loss: 0.6837 - acc: 0.7912
Epoch 4/100
249/249 [==============================] - 0s 95us/step - loss: 0.6791 - acc: 0.7912
Epoch 5/100
249/249 [==============================] - 0s 96us/step - loss: 0.6745 - acc: 0.7912
Epoch 6/100
249/249 [==============================] - 0s 187us/step - loss: 0.6686 - acc: 0.7912
Epoch 7/100
249/249 [==============================] - 0s 409us/step - loss: 0.6616 - acc: 0.7912
Epoch 8/100
249/249 [==============================] - 0s 413us/step - loss: 0.6530 - acc: 0.7912
Epoch 9/100
249/249 [==============================] - 0s 388us/step - loss: 0.6430 - acc: 0.7912
Epoch 10/100
249/249 [==============================] - 0s 387us/step - loss: 0.6277 - acc: 0.7912
Epoch 11/100
249/249 [==============================] - 0s 380us/step - loss: 0.6138 - acc: 0.7952
Epoch 12/100
249/249 [==============================] - 0s 368us/step - loss: 0.6062 - acc: 0.7952
Epoch 13/100
249/249 [==============================] - 0s 374us/step - loss: 0.5833 - acc: 0.8153
Epoch 14/100
249/249 [==============================] - 0s 379us/step - loss: 0.5640 - acc: 0.8313
Epoch 15/100
249/249 [==============================] - 0s 373us/step - loss: 0.5502 - acc: 0.8353
Epoch 16/100
249/249 [==============================] - 0s 376us/step - loss: 0.5463 - acc: 0.8394
Epoch 17/100
249/249 [==============================] - 0s 380us/step - loss: 0.5090 - acc: 0.8755
Epoch 18/100
249/249 [==============================] - 0s 349us/step - loss: 0.4974 - acc: 0.8675
Epoch 19/100
249/249 [==============================] - 0s 350us/step - loss: 0.4891 - acc: 0.8675
Epoch 20/100
249/249 [==============================] - 0s 345us/step - loss: 0.4653 - acc: 0.8594
Epoch 21/100
249/249 [==============================] - 0s 348us/step - loss: 0.4641 - acc: 0.8594
Epoch 22/100
249/249 [==============================] - 0s 345us/step - loss: 0.4460 - acc: 0.8835
Epoch 23/100
249/249 [==============================] - 0s 341us/step - loss: 0.4289 - acc: 0.8594
Epoch 24/100
249/249 [==============================] - 0s 349us/step - loss: 0.4173 - acc: 0.8795
Epoch 25/100
249/249 [==============================] - 0s 347us/step - loss: 0.4088 - acc: 0.8835
Epoch 26/100
249/249 [==============================] - 0s 350us/step - loss: 0.4060 - acc: 0.8835
Epoch 27/100
249/249 [==============================] - 0s 356us/step - loss: 0.3999 - acc: 0.8675
Epoch 28/100
249/249 [==============================] - 0s 344us/step - loss: 0.3987 - acc: 0.8835
Epoch 29/100
249/249 [==============================] - 0s 349us/step - loss: 0.3973 - acc: 0.8755
Epoch 30/100
249/249 [==============================] - 0s 360us/step - loss: 0.4032 - acc: 0.8715
Epoch 31/100
249/249 [==============================] - 0s 351us/step - loss: 0.3972 - acc: 0.8876
Epoch 32/100
249/249 [==============================] - 0s 345us/step - loss: 0.3938 - acc: 0.8755
Epoch 33/100
249/249 [==============================] - 0s 344us/step - loss: 0.3992 - acc: 0.8715
Epoch 34/100
249/249 [==============================] - 0s 350us/step - loss: 0.3515 - acc: 0.8916
Epoch 35/100
249/249 [==============================] - 0s 341us/step - loss: 0.3688 - acc: 0.8795
Epoch 36/100
249/249 [==============================] - 0s 350us/step - loss: 0.3572 - acc: 0.8675
Epoch 37/100
249/249 [==============================] - 0s 349us/step - loss: 0.3638 - acc: 0.8876
Epoch 38/100
249/249 [==============================] - 0s 320us/step - loss: 0.3627 - acc: 0.8835
Epoch 39/100
249/249 [==============================] - 0s 315us/step - loss: 0.3734 - acc: 0.8795
Epoch 40/100
249/249 [==============================] - 0s 313us/step - loss: 0.3515 - acc: 0.8835
Epoch 41/100
249/249 [==============================] - 0s 318us/step - loss: 0.3697 - acc: 0.8755
Epoch 42/100
249/249 [==============================] - 0s 317us/step - loss: 0.3757 - acc: 0.8835
Epoch 43/100
249/249 [==============================] - 0s 350us/step - loss: 0.3535 - acc: 0.8755
Epoch 44/100
249/249 [==============================] - 0s 338us/step - loss: 0.3736 - acc: 0.8835
Epoch 45/100
249/249 [==============================] - 0s 318us/step - loss: 0.3548 - acc: 0.8755
Epoch 46/100
249/249 [==============================] - 0s 314us/step - loss: 0.3973 - acc: 0.8795
Epoch 47/100
249/249 [==============================] - 0s 313us/step - loss: 0.3803 - acc: 0.8795
Epoch 48/100
249/249 [==============================] - 0s 318us/step - loss: 0.3658 - acc: 0.8675

Epoch 49/100
249/249 [==============================] - 0s 322us/step - loss: 0.3669 - acc: 0.8835
Epoch 50/100
249/249 [==============================] - 0s 319us/step - loss: 0.3337 - acc: 0.8755
Epoch 51/100
249/249 [==============================] - 0s 328us/step - loss: 0.3670 - acc: 0.8755
Epoch 52/100
249/249 [==============================] - 0s 341us/step - loss: 0.3496 - acc: 0.9036
Epoch 53/100
249/249 [==============================] - 0s 329us/step - loss: 0.3453 - acc: 0.8916
Epoch 54/100
249/249 [==============================] - 0s 332us/step - loss: 0.3378 - acc: 0.8715
Epoch 55/100
249/249 [==============================] - 0s 312us/step - loss: 0.3680 - acc: 0.8755
Epoch 56/100
249/249 [==============================] - 0s 323us/step - loss: 0.3325 - acc: 0.8755
Epoch 57/100
249/249 [==============================] - 0s 324us/step - loss: 0.3396 - acc: 0.8835
Epoch 58/100
249/249 [==============================] - 0s 328us/step - loss: 0.3370 - acc: 0.8835
Epoch 59/100
249/249 [==============================] - 0s 319us/step - loss: 0.3960 - acc: 0.8795
Epoch 60/100
249/249 [==============================] - 0s 318us/step - loss: 0.3378 - acc: 0.8916
Epoch 61/100
249/249 [==============================] - 0s 321us/step - loss: 0.3411 - acc: 0.8916
Epoch 62/100
249/249 [==============================] - 0s 317us/step - loss: 0.3477 - acc: 0.8996
Epoch 63/100
249/249 [==============================] - 0s 318us/step - loss: 0.3212 - acc: 0.8876
Epoch 64/100
249/249 [==============================] - 0s 316us/step - loss: 0.3381 - acc: 0.8956
Epoch 65/100
249/249 [==============================] - 0s 326us/step - loss: 0.3626 - acc: 0.8916
Epoch 66/100
249/249 [==============================] - 0s 314us/step - loss: 0.3484 - acc: 0.8876
Epoch 67/100
249/249 [==============================] - 0s 313us/step - loss: 0.3241 - acc: 0.8956
Epoch 68/100
249/249 [==============================] - 0s 316us/step - loss: 0.3216 - acc: 0.8916
Epoch 69/100
249/249 [==============================] - 0s 316us/step - loss: 0.3488 - acc: 0.8795
Epoch 70/100
249/249 [==============================] - 0s 323us/step - loss: 0.3232 - acc: 0.8876
Epoch 71/100
249/249 [==============================] - 0s 317us/step - loss: 0.3231 - acc: 0.8916
Epoch 72/100
249/249 [==============================] - 0s 309us/step - loss: 0.3433 - acc: 0.8795
Epoch 73/100
249/249 [==============================] - 0s 311us/step - loss: 0.3188 - acc: 0.8996
Epoch 74/100
249/249 [==============================] - 0s 323us/step - loss: 0.3234 - acc: 0.8996
Epoch 75/100
249/249 [==============================] - 0s 317us/step - loss: 0.3209 - acc: 0.8795
Epoch 76/100
249/249 [==============================] - 0s 311us/step - loss: 0.3399 - acc: 0.8916
Epoch 77/100
249/249 [==============================] - 0s 313us/step - loss: 0.3551 - acc: 0.8916
Epoch 78/100
249/249 [==============================] - 0s 319us/step - loss: 0.3103 - acc: 0.9036
Epoch 79/100
249/249 [==============================] - 0s 318us/step - loss: 0.3445 - acc: 0.8956
Epoch 80/100
249/249 [==============================] - 0s 316us/step - loss: 0.3189 - acc: 0.8715
Epoch 81/100
249/249 [==============================] - 0s 323us/step - loss: 0.3284 - acc: 0.8835
Epoch 82/100
249/249 [==============================] - 0s 317us/step - loss: 0.3446 - acc: 0.8835
Epoch 83/100
249/249 [==============================] - 0s 320us/step - loss: 0.3296 - acc: 0.8876
Epoch 84/100
249/249 [==============================] - 0s 317us/step - loss: 0.3663 - acc: 0.8715
Epoch 85/100
249/249 [==============================] - 0s 313us/step - loss: 0.3061 - acc: 0.8916
Epoch 86/100
249/249 [==============================] - 0s 316us/step - loss: 0.3528 - acc: 0.8755
Epoch 87/100
249/249 [==============================] - 0s 314us/step - loss: 0.3226 - acc: 0.9036
Epoch 88/100
249/249 [==============================] - 0s 316us/step - loss: 0.3055 - acc: 0.9036
Epoch 89/100
249/249 [==============================] - 0s 317us/step - loss: 0.2901 - acc: 0.8835
Epoch 90/100
249/249 [==============================] - 0s 320us/step - loss: 0.3503 - acc: 0.8876
Epoch 91/100
249/249 [==============================] - 0s 315us/step - loss: 0.3400 - acc: 0.8996
Epoch 92/100
249/249 [==============================] - 0s 320us/step - loss: 0.3484 - acc: 0.8835
Epoch 93/100
249/249 [==============================] - 0s 314us/step - loss: 0.3135 - acc: 0.8835
Epoch 94/100
249/249 [==============================] - 0s 311us/step - loss: 0.3542 - acc: 0.8916
Epoch 95/100
249/249 [==============================] - 0s 318us/step - loss: 0.3245 - acc: 0.8916
Epoch 96/100
249/249 [==============================] - 0s 314us/step - loss: 0.3549 - acc: 0.8635
Epoch 97/100
249/249 [==============================] - 0s 319us/step - loss: 0.3289 - acc: 0.8795
Epoch 98/100
249/249 [==============================] - 0s 318us/step - loss: 0.3310 - acc: 0.8835
Epoch 99/100
249/249 [==============================] - 0s 318us/step - loss: 0.3473 - acc: 0.8795
Epoch 100/100
249/249 [==============================] - 0s 317us/step - loss: 0.3531 - acc: 0.8876

In [25]:
# 예측 변수는 2개 생성한다. y_pred_class 와 y_pred_prob
# y_pred_class 는 예측 결과이고, y_pred_prob 는 예측 확률이다.

y_pred_class = model.predict(x_test)
y_pred_prob = model.predict_proba(x_test)

In [26]:
y_pred_class[:5]

array([[0.08845335],
       [0.00634357],
       [0.05947018],
       [0.05425912],
       [0.03723252]], dtype=float32)

In [27]:
y_pred_prob[:5]

array([[0.08845335],
       [0.00634357],
       [0.05947018],
       [0.05425912],
       [0.03723252]], dtype=float32)

In [28]:
## 임계치 설정. 임계치 이상은 모두 1, 아래는 모두 0이 된다.
y_pred_class = y_pred_class > 0.5

In [29]:
y_pred_class[:5]

array([[False],
       [False],
       [False],
       [False],
       [False]])

In [30]:
y_pred_class.astype(int)[:5]

array([[0],
       [0],
       [0],
       [0],
       [0]])

In [31]:
# 사이킷런의 accuracy_score 함수를 사용해 정확성을 계산해본다.
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_pred_class)

0.8703703703703703

In [32]:
###### 널 정확성 계산
ytest.value_counts()

0    91
1    17
Name: Readmitted, dtype: int64

In [33]:
ytest.value_counts().head(1)/len(ytest)

0    0.842593
Name: Readmitted, dtype: float64